.Main {
    margin: 30px 34px 24px 36px;
}

.main-title {
    color: #F5F5F5;
    font-size: 16px;
    margin-bottom: 0;
}

.main-body {
   color: #DCDCDC;
   font-size: 10.24px;
   margin-top: 5px;
   line-height: 15.36px;
}